<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link href="/css/accessDenied.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Access Denied</h2>
                <div class="error-details">
                    Sorry. You do not have sufficient privileges to access this page.
                </div>
                <div class="error-actions">
                    <a class="btn btn-primary btn-lg" th:href="@{/cars}"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a class="btn btn-default btn-lg"
                                            th:href="@{mailto:dbelokursky@gmail.com}"><span
                        class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>