<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHRT</title>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    function validateForm() {
        var url = document.main_form.url;
        var regExUrl = /^(https?|ftp):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
        if (url.value == "") {
            document.getElementById("message").innerHTML = "<pre>Please enter URL.</pre>";
            url.focus();
            return false;
        }
        if (!url.value.match(regExUrl)) {
            document.getElementById("message").innerHTML = "<pre>Please check this URL is correct.</pre>";
            url.focus();
            return false;
        }
        return true;
    }
</script>
<h1 class="text-center">SHRT</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-offset-3">
            <form name="main_form" class="form-inline" onsubmit="return validateForm()" th:action="@{/add}"
                  th:method="POST">
                <input class="form-control input-lg resizedInput" id="url" type="text"
                       placeholder="Paste a link to shorten it" size="50">
                <button class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-scissors"></span> SHORTEN
                </button>
            </form>
            </p>
            <label id="message" name="errorMessage"></label>
        </div>
    </div>
</div>
</body>
</html>