<!DOCTYPE html>
<html>
<head>
    <title>NumerValidation</title>
</head>
<body>
<script>
    function validateForm() {
        var url = document.myform.url;

        var regExUrl = "#((https?://|ftp://|www\\.|[^\\s:=]+@www\\.).*?[a-z_\\/0-9\\-\\#=&])(?=(\\.|,|;|\\?|\\!)?(\"|'|«|»|\\[|\\s|\\r|\\n|$))#iS";
        if (url.value == "") {
            window.alert("Please enter URL.");
            url.focus();
            return false;
        }
        if (!url.value.match(regExUrl)) {
            window.alert("Incorrect URL.");
            url.focus();
            return false;
        }
        return true;
    }
</script>
<form name="myform" id="myform" action="" onsubmit="return validateForm();" method="post">
    <table cellspacing="2" cellpadding="2" border="0">
        <tr>
            <td align="right"> Url</td>
            <td><input type="text" name="url" size="28"/></td>
        </tr>
        <tr>
            <td align="right"></td>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

</body>
</html>